{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block content %}
    <div class="center">
        <h1>Información</h1><hr>
        <p>
            La información para recuperar la <b>constraseña</b> fue enviada al <b>correo</b> suministrado.
        </p>
    </div>
    <a type="button" class="btn waves-effect teal" href="{% url 'inicio'%}">Regresar</a>
{% endblock %}