{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block content %}
    <div class="row text-center">
        <h1>Éxito</h1><hr>
        <p>
            Su contraseña fue cambiada con éxito
        </p><br>
    </div>
    <a type="button" class="btn waves-effect teal" href="{% url 'inicio'%}">Regresar</a>
{% endblock %}