{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <div class="center">
        <p>Bienvenido a la aplicación de chat en tiempo real y notificaciones
        	con <b>Django</b> y <b>Node</b></p>
    </div>
{% endblock %}