{% extends 'base.template.html' %}
{% load staticfiles %}
{% block title %}Chat{% endblock %}
{% block content %}
    <div class="row">
    	<div class="col m2">
    		<div class="row center">Usuarios</div><hr/>
    		{% for user in users %}
    			<div class="row">
    				<a href="#" onclick="get_comment({{user.id}},{{request.user.id}})">
    					{{user.username}} <span class="badge" id="mesages" user-id="{{user.id}}">0</span>
    				</a>
    			</div>
    		{% endfor %}
    	</div>
    	<div class="col m10">
    		<div class="row center">Chat</div><hr/>
    		<div class="chat-log">
    		</div>
    		<form method="post">
    			{% csrf_token %}
    			<div class="chat-box" style="display:none;">
    				<input type="hidden" id="user_to"/>
    				
    				<div class="col m10">
	    				<div class="input-field {% if form.comentario.errors %}invalid{% endif %}">
				            {{ form.comentario }}
				            <label for="icon_prefix {{ form.comentario.auto_id }}">Mensaje</label>
				            {% include 'base.forms.errors.html' with form_errors=form.comentario.errors col_title_error='col s2' col_msg_error='col s10' %}
				        </div>
				    </div>
				    <div class="col m2">
				    	<button class="btn-floating btn-large" id="send">
				    		<i class="tiny material-icons prefix">send</i>
				    	</button>
				    </div>
    			</div>
    		</form>
    	</div>
    </div>
{% endblock %}
{% block extraJs %}
	<script src="{{NODE_SERVER}}/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect("{{NODE_SERVER}}");
		var token = $('input').val();

		$(document).ready(function(){
			var datos = {
                "csrfmiddlewaretoken":token,
				"user_recibe":"{{user.id}}",
			}
			socket.emit('check msj',datos);
		});


		$("#send").on('click',Comentar);

		function Comentar(e){
			e.preventDefault();
			var datos = {
                "csrfmiddlewaretoken":token,
				"user_recibe":$("#user_to").val(),
				"comentario":$("#id_comentario").val(),
				"user_emite":"{{user.id}}",
			}
			socket.emit('add comment',datos);
			$("#id_comentario").val("");
		}

		socket.on('send comments',function(data){
			var datos = JSON.parse(JSON.parse(data));
			datos = datos[0].fields
			if((datos.fk_user_recibe==$("#user_to").val() && datos.fk_user_emite=="{{user.id}}")
				|| (datos.fk_user_emite==$("#user_to").val() && datos.fk_user_recibe=="{{user.id}}") )
			{
				var send = value.fields.visto ? 'done_all' :'done';
				var comment = value.fields.visible ? datos.comentario :'Este mensaje fue eliminado';
				if(datos.fk_user_emite=="{{user.id}}")
				{
					var position = "sended right";
					send = 'done_all';
				}
				else{
					var position = "recived left";
				}
				var html = '<div class="row" onclick="select_chat(this)" data-comment="'+datos.pk+'">';
				html += '<div class="'+position+'">'+comment;
				html += '<br/><i class="tiny material-icons prefix">'+send+'</i> | ';
                html += '<small>'+ value.fields.fecha +'</small></div>';
				html += '</div>';
				$('.chat-log').append(html);
                $('.chat-log').scrollTop($('.chat-log').scrollTop()+100)

			}
		});


		socket.on('send not',function(data){
			var datos = JSON.parse(data);
			datos = datos[0].fields
			if(datos.fk_user=="{{user.id}}")
			{
				var html = '<div class="row"><div class="'+position+'">'+datos.comentario+'</div>';
				html += '</div>';
				$('.chat-log').append(html);

			}
		});

		socket.on('update msj',function(data){
			var datos = JSON.parse(data);
			$.each(datos,function(key,value){
				$.each($('.badge'),function(llave,valor){
					if($(valor).attr('user-id')==value.user){
						if(value.count_msn>0){
							$(valor).attr('id','mesages-new');	
						}
						else{
							$(valor).attr('id','mesages');
						}
						$(valor).html(value.count_msn);
					}
				});
			});
		});

		socket.on('updated msj',function(data){
			var datos = JSON.parse(data);
			if(datos.user_emite==$("#user_to").val() && datos.user_recibe=="{{user.id}}"){
				var datos = {
	                "csrfmiddlewaretoken":token,
					"user_recibe":"{{user.id}}",
				}
				socket.emit('check msj',datos);
			}
		});

		socket.on('deleted msj',function(data){
			/*var datos = {
                "csrfmiddlewaretoken":token,
				"user_recibe":"{{user.id}}",
			}
			socket.emit('check msj',datos);*/
		});
	</script>
{%endblock%}